@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background: #1B262C;
  --background2: #0b212c;
  --dark-blue: #0F4C75;
  --blue-back: #2b3a42;
  --light-blue: #00B7C2;
  --stext-color: #FDCB9E;
  --dark-green: #179213;
  --red: #f50a16;
  --dark-red: #81080e;
  --text: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
  height: 100vh;

}

.App-header{
  background-color: var(--blue-back);
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.link{
  height: inherit;
  width: 25%;
  min-width: fit-content;
  border-left: 0.5px solid var(--text);
  border-right: 0.5px solid var(--text);
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.content{
  margin-top: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 88vh;
  width: 100%;
  overflow-y: scroll;
}

.content::-webkit-scrollbar{
  visibility: hidden;
}

.Container{
  margin-top: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 80vw;
}

.gr-card{
  background-color: var(--blue-back);
  height: 8vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.8rem;
}

.bootstrap-demo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tailwind-demo{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.div-title{
  font-size: large;
}

.button{
  display: inline-block;
  padding: 0.3rem 1.2rem;
  align-self: center;
  margin: 0.6em 0.2em;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:var(--light-blue);
  text-align:center;
  transition: all 0.2s;
  cursor: pointer;
}

.button:hover{
  background-color: var(--dark-blue);
} 