*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background: #1B262C;
  --dark-blue: #0F4C75;
  --blue-back: #2b3a42;
  --light-blue: #00B7C2;
  --stext-color: #FDCB9E;
  --dark-green: #179213;
  --dark-red: #f50a16;
  --text: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

.header{
  background-color: var(--blue-back);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.content{
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.counter-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.counter{
  width: 8vw;
  height: 16vh;
  backdrop-filter: blur(6px);
  background-color: var(--blue-back);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.4em 0.8em;
  border: 1px solid var(--text);
  cursor: pointer;
}

.counter-text{
  text-align: center;
  margin: 10px;
  font-size: xx-large;
  font-weight: bold;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}