*{
  margin: 0;
  padding: 0;
  --background: #1B262C;
  --dark-blue: #0F4C75;
  --blue-back: #2b3a42;
  --light-blue: #00B7C2;
  --stext-color: #FDCB9E;
  --dark-green: #179213;
  --dark-red: #f50a16;
  --text: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.chess-board-wrapper{
  padding: 8px 4px;
  border: 1px solid gray;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-title{
  text-align: center;
  margin: 10px;
  
}

.chess-board{
  background-color: white;
  width: 20vw;
  height: 40vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr); 
  gap: 1px;
}

.cell{
  min-width: 0.5vw;
  min-height: 2vh;
}

.black{
  background-color: black;
}

.white{
  background-color: white;
}


.meme-card-wrapper{
  background-color: #0c161b;
  box-shadow: none;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.div-subtitle{
  text-align: center;
}

.meme-image img{
  width: 380px;
  height: 100%;
}