
*{
    --dark: #091921;
    --red-crayola: #ff1053ff;
    --dark-blue-gray: #6c6ea0ff;
    --vivid-sky-blue: #66c7f4ff;
    --beau-blue: #c1cad6ff;
    --white: #ffffffff;
}


body{
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}


.outer-circle{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid cyan;
}

.inner-circle{
    width: 275px;
    height: 275px;
    display: flex;
    border-radius: 50%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    border: 5px solid cyan;
    position: relative;
}

.clock::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.minute-hand{
    background-color: var(--dark-blue-gray);
    height: 38%;
    width: 5px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
    margin-left: -2.5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.hour-hand{
    background-color: var(--vivid-sky-blue);
    height: 28%;
    width: 8px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
    margin-left: -4px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.seconds-hand{
    background-color: var(--red-crayola);
    height: 40%;
    width: 3px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}