*{
    margin: 0px;
    padding: 0px;
    --background: #1B262C;
    --dark-blue: #0F4C75;
    --blue-back: #2b3a42;
    --light-blue: #00B7C2;
    --stext-color: #FDCB9E;
    --dark-green: #179213;
    --dark-red: #f50a16;
    --text: #ffffff;
}

body{
    background-color: var(--background);
    color: var(--text);
    min-height: 100vh;
    overflow: hidden;
}

.header{
    background-color: var(--blue-back);
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-title{
    font-size: 2rem;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.date-sel{
    width: 24%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    display: inline-block;
    padding: 0.3em 1.2em;
    align-self: center;
    margin: 0.6em 0.2em;
    border-radius: 0.3em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:var(--light-blue);
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
}

.button:hover{
    background-color: var(--dark-blue);
}

.date-input{
    margin: 2.2em 0.2em;
    width: 62%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.apod-wrapper{
    margin: 1.4em 0.8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.apod-details{
    border: 1px solid gray;
    background-color: var(--blue-back);
    margin: 0.8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
}

.apod-title{
    font-size: 1.8rem;
    margin: 0.8rem;
}

.apod-date{
    font-size: 1.2rem;
    margin: 0.8rem;
}

.apod-desc{
    font-size: 1.4rem;
    width: 80%;
    text-align: center;
    margin: 0.8rem;
}

.display-image img{
    width: 520px;
    height: 520px;
    object-fit: cover;
}